{% load static %}
<!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->

			<div class="header header-transparent change-logo">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
									<a class="nav-brand fixed-logo" href="/"
                				 style="font-size: 31px; color: #144273;">
               					 <img src="/static/assets/img/user-1.svg" class="logo" alt="" /><span>Cleerli</span></a>

							<div class="nav-toggle"></div>
							<div class="mobile_nav">
								<ul>
									<li class="_my_prt_list"><a href="#"><span>2</span>My List</a></li>
									<li><a href="#" data-toggle="modal" data-target="#login"><i class="fas fa-user-circle fa-lg"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu">

								<li class="active"><a href="{% url 'home' %}">Home<span class="submenu-indicator"></span></a>

								</li>

								{% if request.session.login_user %}
								<li class="active"><a href="{% url 'viewoffer' %}">My Dashboard<span class="submenu-indicator"></span></a>
								</li>
								{% endif %}
								<li class="active"><a href="{% url 'pagecontent1' %}">What is Blind Bidding<span class="submenu-indicator"></span></a>

								</li>

								<li class="active"><a href="{% url 'aboutus' %}">About Us<span class="submenu-indicator"></span></a>

								</li>
								<li class="active"><a href="{% url 'faq' %}">FAQs<span class="submenu-indicator"></span></a>

								</li>


							</ul>


							<ul class="nav-menu nav-menu-social align-to-right">
								{% if request.session.login_user %}

								<div class="btn-group account-drop p-0">
									<button type="button" class="btn btn-order-by-filt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<img src="{{ user.image.url }}" class="avater-img" alt="">
									</button>
									<div class="dropdown-menu pull-right animated flipInX">
										<div class="drp_menu_headr">
											<h4>Hi, {{ request.session.login_user }}</h4>
										</div>
										<ul>

											<li><a href="{% url 'myprofile' %}"><i class="fa fa-user-tie"></i>My Profile</a></li>
											<li><a href="{% url 'viewoffer' %}"><i class="fa fa-bookmark"></i>Saved Property<span class="notti_coun style-2">7</span></a></li>
<!--											<li><a href="my-property.html"><i class="fa fa-tasks"></i>My Properties<span class="notti_coun style-3">3</span></a></li>-->
<!--											<li><a href="choose-package.html"><i class="fa fa-gift"></i>Choose Package</a></li>-->
											<li><a href="{% url 'addoffer' %}"><i class="fa fa-pen-nib"></i>Submit New Property</a></li>
<!--											<li><a href="change-password.html"><i class="fa fa-unlock-alt"></i>Change Password</a></li>-->
										</ul>
									</div>
								</div>


								<li class="add-listing">
									  <a class="theme-cl" href="{% url 'logout' %}"><i class="fas fa-plus-circle mr-1"></i>Log Out </a>
								</li>

								{% else %}
								<li>
									<a href="#" class="alio_green" data-toggle="modal" data-target="#login">
										<i class="fas fa-sign-in-alt mr-1"></i><span class="dn-lg">Sign In</span>
									</a>
								</li>
								{% endif %}
<!--								<li class="add-listing">-->
<!--									<a href="{% url 'addoffer' %}"  class="theme-cl">-->
<!--										 <i class="fas fa-plus-circle mr-1"></i>Add Property-->
<!--									</a>-->
<!--								</li>-->
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
