{% extends "base.html" %}
{% load static %}


{% block content %}

			<!-- ============================ Page Title Start================================== -->
			<div class="page-title" style="background:#f4f4f4 url(https://via.placeholder.com/1920x980);" data-overlay="5">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">

							<div class="breadcrumbs-wrap">
								<ol class="breadcrumb">
									<li class="breadcrumb-item active" aria-current="page">About Us</li>
								</ol>
								<h2 class="breadcrumb-title">About Us - Who We Are?</h2>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Page Title End ================================== -->

<!-- ============================ Our Story Start ================================== -->
			<section>

				<div class="container">

					<!-- row Start -->
					<div class="row align-items-center">
                        {% for obj in data %}
						{% if forloop.first %}
						<div class="col-lg-6 col-md-6">
							<div class="story-wrap explore-content">
                                <h3>{{ obj.title }}</h3>
								<h2>Our Agency Story</h2>
								<span class="theme-cl">Check out our company story and work process</span>
								<p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
								<a href="#" class="btn theme-bg btn-rounded">More About Us</a>
							</div>
						</div>

						<div class="col-lg-6 col-md-6">
							<img src="{{ obj.image.url }}" class="img-fluid rounded" alt="{{ obj.title }}" />
						</div>
						{% endif %}
                        {% endfor %}
					</div>
					<!-- /row -->

				</div>

			</section>
			<!-- ============================ Our Story End ================================== -->


			<!-- ============================ Call To Action ================================== -->
			<section class="theme-bg call_action_wrap-wrap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">

							<div class="call_action_wrap">
								<div class="call_action_wrap-head">
									<h3>Do You Have Questions ?</h3>

									<span>We'll help you to grow your career and growth.</span>
								</div>
								<a href="#" class="btn btn-call_action_wrap">Contact Us Today</a>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->

			{% endblock content %}