{% extends 'base1.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br><br><br><br>
  <h2>Sign up</h2>
<br><br><br>
  <form method="post">
    {% csrf_token %}
<!--    {{ form.username.label }}-->
<!--    {{ form.username }}-->
<!--    {{ form.password1.label }}-->
<!--    {{ form.password1 }}-->
<!--    {{ form.password2.label }}-->
<!--    {{ form.password2 }}-->

    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <br><br><br><br>
    <button type="submit">Sign up</button>
  </form>
<!--<br><br><br><br><br><br><br><br>-->
<!--<form method="POST" id="postform" action="">-->
<!--													{% csrf_token %}-->

<!--													<div class="form-group">-->
<!--														<label>Full Name</label>-->
<!--														<div class="input-with-icon">-->
<!--															<input type="text" name="username" id="username" class="form-control" required>-->
<!--															<i class="ti-user"></i>-->
<!--														</div>-->
<!--													</div>-->

<!--													<div class="form-group">-->
<!--														<label>Email ID</label>-->
<!--														<div class="input-with-icon">-->
<!--															<input type="email" name="email" id="email" pattern="^(([-\w\d]+)(\.[-\w\d]+)*@([-\w\d]+)(\.[-\w\d]+)*(\.([a-zA-Z]{2,5}|[\d]{1,3})){1,2})$"class="form-control" required>-->
<!--															<i class="ti-user"></i>-->
<!--														</div>-->
<!--													</div>-->

<!--													<div class="form-group">-->
<!--														<label>Password</label>-->
<!--														<div class="input-with-icon">-->
<!--															<input type="password" name="password" id="password" class="form-control" required>-->
<!--															<i class="ti-unlock"></i>-->
<!--														</div>-->
<!--													</div>-->

<!--													<div class="form-group">-->
<!--														<div class="eltio_ol9">-->

<!--															<div class="eltio_k1">-->
<!--																<input id="dd" class="checkbox-custom" name="terms_confirmed" type="checkbox" required>-->
<!--																<label for="dd" class="checkbox-custom-label">By using the website, you accept the terms and conditions</label>-->
<!--															</div>-->
<!--														</div>-->
<!--													</div>-->

<!--													<div class="form-group">-->
<!--														<button type="submit"   class="btn btn-md full-width pop-login">Register</button>-->
<!--													</div>-->

<!--												</form>-->

{% endblock content %}